ul, li {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 20px;
}

#header, #footer, .k-header {
    text-align: center;
}

#navigation ul {
    list-style: none;
}

#navigation ul li {
    display: inline-block;
    font-weight: bolder;
    margin: 0 5px;
}

#menu > .k-last {
    float: right;
    border-left-width: 1px;
    border-right-width: 0;
}

#sidebar {
    margin-top: 10px;
}

#categories ul {
    list-style: square;
    margin-left: 20px;
}

#tags ul, #articles ul {
    list-style: none;
}

#tags ul li {
    display: inline-block;
}

#articles ul li {
    margin-bottom: 10px;
}

#articles ul li:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.article-title {
    background: #b0e0e6;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.article-info {
    margin: -20px 0 -10px 0;
    padding: 0 5px;
    font-weight: bold;
}

.article-preview img {
    margin: 5px;
    float: left;
}

.article-content {
    vertical-align: top;
}

.input-form {
    width: 300px;
    padding: 10px;
}

.input-form  div {
    margin: 10px 0;
    display: block;
    width: 100%;
}