<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="NewsDb" providerName="System.Data.SqlClient" connectionString="Server=.;Database=NewsDb;Trusted_Connection=true;"/>-->
    <add name="NewsDb"
         providerName="System.Data.SqlClient"
         connectionString="Server=0cb9af03-6d08-4a4e-9e05-a22c0180dc04.sqlserver.sequelizer.com;Database=db0cb9af036d084a4e9e05a22c0180dc04;User ID=prrfztorvdguspeu;Password=w556WNRXqNtfS6QcQtfLJwB8cFQfC7JkeYs7tXa67Z5qAB63ynhwEFnaB64q6Ktr;"/>
  </connectionStrings>
</configuration>